{
  "rules": {
    "@typescript-eslint/ban-ts-ignore": ["off"],
    "@typescript-eslint/camelcase": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/interface-name-prefix": ["off"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-unused-expressions": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/no-unused-vars": ["off"],
    "@typescript-eslint/no-namespace": ["off"],
    "@typescript-eslint/ban-ts-comment": "off",
    "camelcase": "off",
    "no-unused-expressions": "off",
    "comma-dangle": ["error", "always-multiline"],
    "require-await": "warn",
    "no-async-promise-executor": ["off"],
    "no-empty-pattern": ["off"],
    "no-undef": ["error"],
    "no-var": ["error"],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "spaced-comment": ["off"],
    "no-prototype-builtins": ["off"],
    "sort-keys": ["off"],
    "space-before-function-paren": ["off"],
    "indent": ["off"],
    "promise/param-names": "off",
    "no-console": ["error", { "allow": ["warn"] }],
    "no-useless-constructor": "off",
    "no-use-before-define": "off",
    "curly": "off",
    "prefer-promise-reject-errors": "off",
    "import/no-extraneous-dependencies": ["error"],
    "import/extensions": ["error", "ignorePackages"],
  },
  "ignorePatterns": ["dist", "**/node_modules/*"],
  "env": {
    "browser": true,
    "es6": true,
  },
  "globals": {
    "NodeJS": true,
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
}
