# ignore platform and editor files
.DS_Store
.idea

# ignore log output
*.log

# ignore all dotfiles except the whitelisted ones
.*
!.changeset
!.github
!.gitignore
!.prettierignore
!.prettierrc
!.eslintignore
!.eslintrc

# ignore build output and dependencies
dist/
node_modules/
