[auth.anonymous]
enabled = true
org_name = PUBLIC
org_role = Viewer

[security]
# set to true if you want to allow browsers to render Grafana in a <frame>, <iframe>, <embed> or <object>. default is false.
allow_embedding = true

[server]
root_url = http://grafana.{{env "DOMAIN"}}/grafana
