{
	email {env.EMAIL}
	admin 127.0.0.1:2019
  order rate_limit before reverse_proxy
}
{env.DOMAIN} {
  # This rate_limit option is tighly coupled with Cloudflare.
  # If we don't use the cloudflare proxy we won't get
  # a X-Forwaded-For header, making rate limiting useless
  rate_limit {header.X-Forwarded-For} 2r/s 100000
	log {
		output stdout
		format json
		level {env.LOG_LEVEL}
	}
	tls {
		dns cloudflare {env.CLOUDFLARE_TOKEN}
	}
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets {env.UPSTREAM_NAME}:{env.UPSTREAM_PORT}
	reverse_proxy {env.UPSTREAM_NAME}:{env.UPSTREAM_PORT}
}

grafana.{env.DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_TOKEN}
	}
	reverse_proxy grafana:3000
}

:9321 {
	metrics /metrics
}
