{
        admin off
}

(common) {
      tls internal {
        on_demand
      }
        log {
                output stdout
                format json
                level DEBUG
        }
        @websockets {
                header Connection *Upgrade*
                header Upgrade websocket
        }
        reverse_proxy @websockets {args.0}:5000
        reverse_proxy {args.0}:5000
}

0.0.0.0:80 {
        import common relay
}

0.0.0.0:443 {
        import common relay
}

